PointerAlignment: Left
IndentWidth: 4
ColumnLimit: 100 
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    AfterFunction: true
    AfterNamespace: false
    AfterCaseLabel: false
    BeforeCatch: true
    BeforeLambdaBody: false
    BeforeWhile: true
    SplitEmptyFunction: false
    AfterControlStatement: Always
    BeforeElse: true
BreakConstructorInitializers: AfterColon
AlwaysBreakTemplateDeclarations: Yes